{% extends 'base.html' %}
{% load static %} 
{% block content %}
<section id="home" class="hero-section bg-glass text-white d-flex align-items-center py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-start">
        <h1 class="hero-title display-1 fw-bold animated-bounce">KJC <span class="text-warning">Dinespot</span></h1>
        <p class="hero-subtitle fs-4">Explore the best food options at your fingertips!</p>
        <div class="hero-buttons mt-4">
          <a href="{% url 'main:login' %}" class="btn btn-warning animated fadeInUp scrollto rounded-pill py-3 px-5">Get Started</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="{% static 'images/specials-1.png' %}" alt="Hero Image" class="img-fluid rounded shadow-lg">
      </div>
    </div>
  </div>
  {% comment %} <script>
    window.onload = function() {
      if (window.performance && performance.navigation.type === 2) {
          window.location.href = "{% url 'main:login' %}";
      }
    }
  </script> {% endcomment %}
</section>

{% endblock %}
